<p-sidebar [modal]="false" class="menuPanel" [(visible)]="opened"
 position="left" [showCloseIcon]="true"
  >
    <!-- <div id="panelHeader" (click)='menuPanelClose()'> Click here to close menu </div> -->
    <p-panelMenu [transitionOptions]="'0ms'" [model]="items" ></p-panelMenu>
    
   
  </p-sidebar>






<p-sidebar  #sidebar styleClass="custom-class " ng-if="togglePanel == true"   [modal]="false" [(visible)]="display" position="left"  [showCloseIcon]="false"  [baseZIndex]="10000"  >
  
  <i class ="pi pi-angle-right" style=" color: white;" (click)="panelClick()">
  </i>
  <p-panelMenu styleClass ="dark-panel custom-panel" [model]="iconItems">
    

  </p-panelMenu>
</p-sidebar> 
