<div class="flex flex-row">
  <div class="flex page-title-container">
    <app-ng-dynamic-breadcrumb
      [bgColor]="'none'"
      [symbol]="' / '"
    ></app-ng-dynamic-breadcrumb>
  </div>
  <div class="flex">
    <p-menubar [model]="items">
      <ng-template pTemplate="start">
        <input type="text" pInputText placeholder="Search" />
        <i class="pi pi-bell" pBadge value="2"></i>
      </ng-template>
      <!-- <p-button label="Log Out" icon="pi pi-sign-out"></p-button> -->
    </p-menubar>
  </div>
</div>
