<form>
  <p-table
    #dt
    [value]="roles"
    [rows]="10"
    [paginator]="true"
    responsiveLayout="scroll"
    [(selection)]="selectedRoles"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [globalFilterFields]="['role', 'description', 'agent']"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-end p-jc-end" style="padding-left: 70%">
        <button
          pButton
          pRipple
          label="Delete"
          icon="pi pi-trash"
          class="p-button-danger mr-2"
          (click)="deleteSelectedRoles()"
          [disabled]="!selectedRoles || !selectedRoles.length"
        ></button>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="description" style="width: 50rem">
          Description <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="agent">
          Agent <p-sortIcon field="agent"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-role>
      <tr>
        <td>
          <p-tableCheckbox [value]="role"></p-tableCheckbox>
        </td>
        <td>{{ role.name }}</td>
        <td>{{ role.description }}</td>
        <td>{{ role.agent }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            style="margin-right: 3px"
            class="p-button-rounded p-button-success"
            (click)="editRole(role)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteRole(role)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ roles ? roles.length : 0 }} roles.
      </div>
    </ng-template>
  </p-table>
  <p-dialog
    #pdFront
    [(visible)]="roleDialog"
    [responsive]="true"
    header="Edit Role"
    [modal]="true"
    styleClass="p-fluid "
    [autoZIndex]="true"
    (click)="pdFront.moveOnTop()"
  >
    <app-newrole></app-newrole>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</form>
