<form>
  <p-table
    #dt
    [value]="agents"
    [rows]="10"
    [paginator]="true"
    responsiveLayout="scroll"
    [(selection)]="selectedAgents"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [globalFilterFields]="['name', 'email', 'last_active']"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-end p-jc-end" style="padding-left: 60%">
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-file-excel"
          label="Export"
          class="p-button-success mr-2"
          (click)="exportExcel()"
          pTooltip="XLS"
          tooltipPosition="bottom"
        ></button>
        <button
          pButton
          pRipple
          label="Delete"
          icon="pi pi-trash"
          class="p-button-danger mr-2"
          (click)="deleteSelectedAgents()"
          [disabled]="!selectedAgents || !selectedAgents.length"
        ></button>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="email">
          Email <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="last_active">
          LastActive <p-sortIcon field="last_active"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-agent>
      <tr>
        <td>
          <p-tableCheckbox [value]="agent"></p-tableCheckbox>
        </td>
        <td>{{ agent.name }}</td>
        <td>{{ agent.email }}</td>
        <td>{{ agent.last_active }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            style="margin-right: 3px"
            class="p-button-rounded p-button-success"
            (click)="editAgent(agent)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteAgent(agent)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ agents ? agents.length : 0 }} agents.
      </div>
    </ng-template>
  </p-table>
  <p-dialog
    #pdFront
    [(visible)]="agentDialog"
    [responsive]="true"
    header="Edit Agent"
    [modal]="true"
    styleClass="p-fluid "
    [autoZIndex]="true"
    (click)="pdFront.moveOnTop()"
  >
    <app-newagent></app-newagent>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</form>
