.chat-landing-page {
  margin: 0 auto;
  width: 640px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 14px;
  color: #12344d;
  text-align: center;
}
.img {
  height: 130px;
  width: 318px;
  margin-bottom: 40px;
  text-align: center;
}
