<div class="grid p-6" style="margin-right: 0">
  <div
    class="col-6 content shadow-2 onhover"
    style="background: #ffecf0 !important; border: 1px solid #ffd0d6"
  >
    <span class="grid-item-content"
      >Home Loans<br /><span class="score">34</span></span
    >
  </div>
  <div class="col-6 content onhover">
    <span class="grid-item-content"
      >Loan Against Property<br /><span class="score">19</span></span
    >
  </div>
  
  <div class="col-4 chart shadow-1" style="background: #ffecf0 !important; border: 1px solid #ffd0d6">
    <div class="widget-title-content">
      Motor Insurance
      <button
        pButton
        type="button"
        label="Expand"
        class="slim-button"
        (click)="ticketByStatus()"
      ></button>
    </div>
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [fill]="chartOptions.fill"
        [dataLabels]="chartOptions.dataLabels"
        [responsive]="chartOptions.responsive"
        [plotOptions]="chartOptions.plotOptions"
        [legend]="chartOptions.legend"
      ></apx-chart>
    </div>
  </div>
  <div class="col-4 chart shadow-1">
    <div class="widget-title-content">
      Health Insurance
      <button pButton type="button" label="Expand" class="slim-button" (click)="healthCharts()"></button>
    </div>
    <div style="margin-top: 10px;">
      <label class="health-list">Arogya Sanjeevani</label>
      <p-progressBar></p-progressBar>
    </div>
    <div style="padding-top: 1rem; margin-top: 10px;">
      <label>Chola Healthline</label>
      <p-progressBar [value]="40" unit=""></p-progressBar>
    </div>
    <div style="padding-top: 1rem; margin-top: 10px;">
      <label>Accident Protection</label>
      <p-progressBar [value]="10" unit=""></p-progressBar>
    </div>
    <div style="padding-top: 1rem; margin-top: 10px;">
      <label>Corona Rakshak</label>
      <p-progressBar [value]="30" unit=""></p-progressBar>
    </div>
  </div>
</div>


<p-sidebar
  #sidebar
  [(visible)]="viewHealthChart"
  position="right"
  [style]="{ width: '45rem' }"
  [showCloseIcon]="false"
>
  <p-panel>
    <ng-template pTemplate="header">
      Loan Against Property
    </ng-template>
    <ng-template pTemplate="icons">
      <button
        pButton
        class="p-panel-header-icon"
        (click)="sidebar.close($event)"
      >
        <span class="pi pi-times"></span>
      </button>
    </ng-template>
    <p-table [value]="healthChart">
      <ng-template pTemplate="header">
        <tr>
          <th>Priority</th>
          <th>tickets</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-healthChart>
        <tr>
          <td>{{ healthChart.type }}</td>
          <td>{{ healthChart.count }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</p-sidebar>

<p-sidebar
  #sidebar
  [(visible)]="viewChart"
  position="right"
  [style]="{ width: '45rem' }"
  [showCloseIcon]="false"
>
  <p-panel>
    <ng-template pTemplate="header"> Motor Insurance</ng-template>
    <ng-template pTemplate="icons">
      <button
        pButton
        class="p-panel-header-icon"
        (click)="sidebar.close($event)"
      >
        <span class="pi pi-times"></span>
      </button>
    </ng-template>
    <p-table [value]="tickets">
      <ng-template pTemplate="header">
        <tr>
          <th>Status</th>
          <th>tickets</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticket>
        <tr>
          <td>{{ ticket.status }}</td>
          <td>{{ ticket.tickets }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</p-sidebar>

<!--  -->


