<img src="assets/FocusR_1000px.png" alt="Image" width="100" class="img" />
<!-- <button pButton type="button"  class="p-button-primary" label="submit"></button> -->
<div class="grid grid-nogutter surface-section text-800">
  <div
    class="col-12 md:col-5 p-6 text-center md:text-left flex align-items-center"
  >
    <section>
      <h1>Ticket Management Application</h1>
      <p class="mt-0 mb-4 text-700 line-height-3">
        Mail your issue.System automatically raise a ticket follows complete
        life cyle and resolve Your issues.
      </p>

      <button
        pButton
        pRipple
        label="Login"
        type="button"
        class="mr-3 p-button-raised"
        (click)="loginNavigation()"
      ></button>
    </section>
  </div>
  <div class="col-12 md:col-7 overflow-hidden">
    <img
      src="assets/accept_tasks.svg"
      alt="Image"
      class="md:ml-auto block md:h-full w-80"
    />
  </div>
</div>
