<img src="assets/images/Chola-logo2.png" alt="Image" width="100" class="img" />
<!-- <button pButton type="button"  class="p-button-primary" label="submit"></button> -->
<div class="grid grid-nogutter surface-section text-800">
  <div
    class="col-12 md:col-5 p-6 text-center md:text-left flex align-items-center"
  >
    <section>
      <h1>CholaMandalam Investment</h1>
      <p class="mt-0 mb-4 text-700 line-height-3">
        Chola commenced business as an equipment financing company and has today emerged as a comprehensive financial services provider offering vehicle finance, home 
        loans, home equity loans, SME loans, investment advisory services, stock broking and a variety of other financial services to customers
      </p>

      <button
        pButton
        pRipple
        label="Login"
        type="button"
        class="mr-3 p-button-raised"
        (click)="loginNavigation()"
      ></button>
    </section>
  </div>
  <div class="col-12 md:col-7 overflow-hidden">
    <img
      src="assets/accept_tasks.svg"
      alt="Image"
      class="md:ml-auto block md:h-full w-80"
    />
  </div>
</div>
