<form class="p-fluid p-grid">
  <div class="p-field p-col-12 md:col-12 p-md-3 mt-2">
    <span class="p-float-label" styleClass="md-inputfield">
      <input type="text" id="name" pInputText required="true" />
      <label for="name">Name <span style="color: red">*</span></label>
    </span>
  </div>
  <div class="p-field p-col-12 md:col-12 p-md-3 mt-3">
    <span class="p-float-label">
      <textarea
        inputId="textarea"
        rows="3"
        style="resize: none"
        cols="30"
        pInputTextarea
      ></textarea>
      <label for="description">Description</label>
    </span>
  </div>
  <div class="p-field p-col-12 col-offset-11 md:col-1 p-md-4 mb-2 ml-10">
    <button
      pButton
      label="Save"
      type="submit"
      style="float: right !important"
    ></button>
  </div>

  
</form>
