<form class="p-fluid p-grid">
  <div class="p-field md:col-6 p-md-3 mb-2">
    <span class="p-float-label">
      <p-password inputId="password" [feedback]="false"></p-password>
      <label for="oldpassword">Old Password</label>
    </span>
  </div>

  <div class="p-field md:col-6 p-md-4 mb-2">
    <span class="p-float-label">
      <p-password inputId="password" [feedback]="false"></p-password>
      <label for="newpassword">New Password</label>
    </span>
  </div>

  <div class="p-field md:col-6 p-md-4 mb-2">
    <span class="p-float-label">
      <p-password inputId="password" [feedback]="false"></p-password>
      <label for="confirmpassword">Confirm Password</label>
    </span>
  </div>
  <div class="p-field col-offset-4 md:col-2 p-md-4 mb-2 ml-10">
    <button
      pButton
      label="Save"
      type="submit"
      style="float: right !important"
    ></button>
  </div>
</form>
