.img {
  margin-top: 16px;
  margin-left: 7rem;
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
}

:host ::ng-deep .dark-panel .p-tabview {
  .p-tabview-nav {
    width: 80rem;
  }
}
:host ::ng-deep .p-tabview-nav-container {
  position: relative;
  padding-top: 10px;
}
